
/*---------------- Right Column: Event Details CSS ----------------*/

html, body {
  height:100%;
}

.container-fluid {
    position:relative;
}

.tall {
    height: 100%;
    min-height: 100vh;
}

.rowoverlay{
  position: absolute;
  top: 0;
  left:0;
  z-index:-1;
  bottom:0;
  right:0;
  height:100%;
}

.coloverlay{
  /*background-color: rgba(233, 33, 33, .4);*/
  /*border: 1px solid red;*/
  height: 100%;
}

.grey, .red{ min-height: 50px; margin-bottom: 10px; }

.green{
background-color: #95D24F;
}
/*border-style: solid;
border-style: solid;
border-width: 0px 5px 0px 0px;
*/



.cream{
background-color: #ECDDB3;
/*border-style: solid;
border-style: solid;
border-width: 0px 0px 0px 5px;
*/
 }

 /*---------------- Right Column: Attendee Availability CSS ----------------*/

  .attendeeAvailabilityGraphRow {
  align-items: center;
     box-sizing: border-box;
      display: flex;
      max-height: 26px;
      margin: 1px;
      flex-direction:row;
      justify-content:center;
      height: 10px;
      padding-left: 1px;
      padding-right: 1px;
      position: relative;
      font-size: 12px;
      font-weight: 100;
      color: black;
     padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      background-color: #95D24F;
      border: 1px solid rgba(86, 61, 124, 0.2);
      border: rounded;
      width: 40px
 }

/*.attendeeAvailabilityGraphBlock{
display:flex;
margin:5px;
flex-basis: fit-content
box-sizing: border-box;
align-items: center;
      background-color: #483D8B;
      border-radius: 10px 20px 30px 40px;
      box-sizing: border-box;
      display: flex;
      max-height: none;
      margin: 1px;
      flex-direction:row;
      justify-content:center;
      min-height: 25px;
      padding-left: 1px;
      padding-right: 1px;
      position: relative;
      font-size: 20px;
      font-weight: 100;
      color: black;


}
*/
.col {
    flex: 1 0 0%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
}
/*.container {
display:flex;
flex-wrap: wrap;
 flex-direction: row;
}
*/
/*---------------------- Left Column: Calendar CSS --------------------------*/

#app-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 500px;
    width: 500px;
    background-color: white;
    margin-left: 90px;
}


.day {
    border-bottom: 1px solid var(--light-gray);
    border-right: 1px solid var(--light-gray);
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
}


.name {
    padding-bottom: 5px;
}


.weekend {
    color: var(--light-blue);
}


.selected {
    background-color: var(--light-blue);
    color: white;
}

/*--------------------------------------------ViewEvent Form -----------------------------------------------------*/

#checkedID {
    opacity: 0;
    position: absolute;
}

.active {
   background-color: #ECDDB3 !important;
}