html,body {
  height:100%;
}

.container-fluid {
    position:relative;
}

.tall {
    min-height: 100vh;
}

.rowoverlay{
  position: absolute;
  top: 0;
  left:0;
  z-index:1;
  bottom:0;
  right:0;
  height:100%;
}

.coloverlay{
  /*background-color: rgba(233, 33, 33, .4);*/
  /*border: 1px solid red;*/
  height: 100%;
}

.grey, .red{ min-height: 50px; margin-bottom: 10px; }

.green{
background-color: #95D24F;
}
/*border-style: solid;
border-style: solid;
border-width: 0px 5px 0px 0px;
*/



.cream{
background-color: #ECDDB3;
/*border-style: solid;
border-style: solid;
border-width: 0px 0px 0px 5px;
*/
 }

/*------------- Yeshi's calendar CSS ----------------*/

:root {
    --light-gray: #DADCE0;
    --light-blue: #1B9CE2;
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Supermercado One', cursive;

}

.month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.8);
}

.month i {
    font-size: 1rem;
    cursor: pointer;
}

.month h1 {
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
}

.month p {
    font-size: 1.1rem;
}


#app-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
    width: 100vw;
    background-color: white;

}


.nameOfWeek {
    padding-bottom: 5px;
    color: red;
}


.dayOfMonth {
    border-bottom: 1px solid var(--light-gray);
    border-right: 1px solid var(--light-gray);
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
    color: black;
}


.weekendDays {
    color: var(--light-blue);
}


.selectedDays {
    background-color: var(--light-blue);
    color: greenyellow;
}


.today { background-color: deepskyblue;}


.prevDays, .next-days {
    border-bottom: 1px solid var(--light-gray);
    border-right: 1px solid var(--light-gray);
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
    color: var(--light-gray);
    /* opacity: 0.5; */
}