<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
<form method="post" action="/">
<!--Name, description, availability ranges, -->
    <label>Name</label>
    <input th:field="${createEventDTO.name}"/>
    <label>Description</label>
    <textarea th:field="${createEventDTO.description}">
        Event Description
    </textarea>
    <input type="date" th:field="${createEventDTO.date}">
    <input type="time" name="startTime"/>
    <input type="time" name="endTime"/>
    <select th:field="${createEventDTO.timezone}">
        <th:block th:each="possibleTimezone : ${createEventDTO.getPossibleTimezones}">
            <option th:value="${possibleTimezone}" th:text="${possibleTimezone}"></option>
        </th:block>
    </select>
    <input type="submit"/>

</form>
</body>
</html>