<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<form method="post" action="/">
<!--Name, description, availability ranges, -->
    <label>Name</label>
    <input th:field="${createEventDTO.name}"/>
    <label>Description</label>
    <textarea th:field="${createEventDTO.description}">
        Event Description
    </textarea>
    <input type="date" th:field="${createEventDTO.date}">
    <input type="submit"/>

</form>
</body>
</html>