<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

    <div class="container">
        <h1 class="page-header text-center">VennTime</h1>
    </div>

    <form method="post" action="/">
    <div class="container-fluid">

        <div class="row">
            <div class="col-6 green tall"></div>
            <div class="col-6 cream tall"></div>
        </div>

        <div class="mt-5 row rowoverlay text-center">
            <div class="col-5 red coloverlay d-flex flex-column justify-content-center">
                <div class="form-group my-3">
                <label>Calendar</label>
                <div id="app-calendar"></div>
            </div>
                </div>
            <div class="col-2 red coloverlay d-flex flex-column justify-content-center">
                <div class="form-group my-3">
                    <label>Name</label>
                    <input th:field="${createEventDTO.name}" class="form-control" placeholder="Name Event"/>
                </div>
                <input type="submit"/>
            </div>

            <div class="col-5 red coloverlay d-flex flex-column justify-content-center">
                <div class="form-group my-3">
                    <label>Availability Range</label>
                    <input type="date" th:field="${createEventDTO.date}" class="form-control my-2">
                    <input type="time" name="startTime"class="form-control my-2" />
                    <input type="time" name="endTime" class="form-control my-2" />
                    <select th:field="${createEventDTO.timezone}" class="form-control my-2" >
                        <th:block th:each="possibleTimezone : ${createEventDTO.getPossibleTimezones}">
                            <option th:value="${possibleTimezone}" th:text="${possibleTimezone}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group my-3">
                        <textarea th:field="${createEventDTO.description}" class="form-control" placeholder="Description">
                            Event Description
                            </textarea>
                </div>
            </div>
        </div>

    </div>
    </form>


</body>
</html>