<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<div class="container">
    <h1 class="display-1 page-header text-center">VennTime</h1>
</div>

<form method="post" action="/">
    <div class="container">
        <div class="row my-3">
            <div class="col-4">
                <div class="d-inline">
                    <label>Name</label>
                    <input th:field="${attendee.name}" class="form-control">
                </div>
                <div class="d-inline">
                    <label>Email (optional):</label>
                    <input type="text" class="form-control"/>
                </div>
            </div>
            <div class="col-4 text-center">
                <p class="lead">Event name:</p>
                <h3 th:text="${event.name}"></h3>
            </div>
            <div class="col-4 text-center p-5">
                <input type="submit"/>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-4 green tall"></div>
            <div class="col-8 cream tall"></div>
        </div>

        <!--        headers-->
        <div class="container"></div>
        <div class="mt-5 row rowoverlay text-center">
            <div class="col-4 justify-content-center">
                <h6 class="lead">Your Availability</h6>
            </div>
            <div class="col-8 justify-content-center">
                <h6 class="lead">Group Availability</h6>
            </div>
        </div>
    </div>

    <!--        table row-->
    <div class="container">
        <div class="mt-5 row rowoverlay text-center">
            <div class="col-12 red coloverlay d-flex flex-column justify-content-center">
                <!--  for each loop over Event availability ranges -->
                <div class="container">
                    <div class="timeTable">
                        <th:block th:each="availabilityRange : ${event.availabilityRanges}">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    Available Times
                                    <span class="server-time-text" th:data-server-time="${availabilityRange.startTime}"></span>
                                    <span th:text="${availabilityRange.getFifteenMinuteChunks()}"></span>
                                </th>

                                <th>Attendees</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>Times</th>
                                <!-- <select class="selectpicker form-control" multiple data-live-search="true">-->
                                    <td>
                                        <div class="viewAvailabilityBlock" th:data-start-time="${availabilityRange.startTime}" th:data-end-time="${availabilityRange.endTime}"></div>
                                    </td>
                                <!--  </select>-->
                            </tr>
                            </tbody>
                        </table>
                         </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</form>

<!--old formatting-->
<!--                    <div class="container">-->
<!--                        <select class="form-control bg-secondary p-4 m-3 justify-content-center" size="8" multiple aria-label= "multiple select">-->
<!--                            <option class="p-3 mb-3 bg-primary text-white text-center">1:30 pm</option>-->
<!--                            <option class="p-3 mb-3 bg-primary text-white text-center">2:00 pm</option>-->
<!--                            <option class="p-3 mb-3 bg-primary text-white text-center">2:30 pm</option>-->
<!--                            <option class="p-3 mb-3 bg-primary text-white text-center">3:00 pm</option>-->
<!--                            <option class="p-3 mb-3 bg-primary text-white text-center">3:30 pm</option>-->
<!--                            <option class="p-3 mb-3 bg-primary text-white text-center">4:00 pm</option>-->
<!--                            <option class="p-3 mb-3 bg-primary text-white text-center">4:30 pm</option>-->
<!--                        </select>-->
<!--                    </div>-->


<!--                old format with two columns-->
<!--            <div class="col-8 red coloverlay d-flex flex-column justify-content-center">-->
<!--                <div class="container">-->
<!--                    <h6 class="lead">Group Availability</h6>-->
<!--                </div>-->
<!--            </div>-->


</body>
</html>