<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<div class="right-info-sidebar">
The best 30 minute meeting time for your group starts at <span class="server-time-text"
                                                                   th:data-server-time="${event.getBestTimeChunkOfSize(2).startTime}"
                                                                   data-format="time"></span>
</div>

<form method="post">

<!--    formatting for background colors-->
    <div class="container-fluid">
        <div class="row rowoverlay">
            <div class="col-4 coloverlay green tall"></div>
            <div class="col-8 coloverlay cream tall"></div>
        </div>

        <div class="container">
        <!--        Logo header-->
        <h1 class="display-1 text-center my-0">VennTime</h1>
        </div>

        <!--        headers-->
        <div class="container">
            <div class="mt-5 row text-center">
                <div class="col-12 p-3 my-3 text-center">
                    <h4 class="display-6 fs-3">Event name:</h4>
                    <h3 th:text="${event.name}"></h3>
                </div>
            </div>
        </div>

        <!--            name input row-->
        <div class="row p-2">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="form-group">
                    <label for="attendeeName"></label>
                    <input th:field="${attendee.name}" id="attendeeName" class="form-control" placeholder="Name">
                </div>
            </div>
            <div class="col-4"></div>
        </div>

        <!--            submit button-->
        <div class="row p-2">
            <div class="text-center">
                <input value="Submit Times" type="submit" class="btn btn-dark"/>
            </div>
        </div>



        <!--        table row in bootstrap-->
        <div class="container">
            <div class="mt-5 row text-center">
                <div class="col-12 red d-flex flex-column justify-content-center">

                    <!--table container of iterating start time/dates for individual and group availability-->
                    <div class="container">
                        <div class="timeTable">

                                <table class="table table-borderless">
                                    <thead>
                                    <h6 class="fs-4 lead text-start fst-italic p-3">
                                        <span class="server-time-text" th:data-server-time="${event.timeChunks[0].startTime.toOffsetDateTime()}" data-format="full"></span>
                                    </h6>
                                    <tr>

                                        <th class="text-start fs-5">Your Availability</th>

                                        <th class="fs-5">Group Availability</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="timeChunk : ${event.timeChunks}">
                                        <td class="text-start">
                                            <label class="inputTimes">
                                                <input type="checkbox" class="inputAvailabilityBlock">
                                                <span class="server-time-text"
                                                      th:data-server-time="${timeChunk.startTime}"
                                                      data-format="time"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <div>
                                                <th:block th:each="attendee : ${timeChunk.getAvailableAttendees}">
                                                    <span th:text="${attendee.name}"></span>

                                                </th:block>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

</body>
</html>